# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# project
.vscode
.github
assets
volumes
.dockerignore
.env.example
.gitattributes
.gitignore
docker-compose.yml
Dockerfile
README.md
localstorage.sqlite
node_modules
