# misc
.DS_Store
*.log

# secrets and local state
.env
volumes
localstorage.sqlite

# dependencies and build output
node_modules
dist

# project
.git
.github
.vscode
assets
.dockerignore
.env.example
.gitattributes
.gitignore
docker-compose.yml
Dockerfile
README.md
CHANGELOG.md
biome.json
