# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# project
.vscode
.dockerignore
.env.example
.gitattributes
.gitignore
Dockerfile
docker-compose.yml
README.md
node_modules
volumes
localstorage.sqlite
api.paw
assets
