name: Publish

on:
  push:
    branches:
      - release/production

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  build:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract version from package.json
        id: version
        run: echo "VERSION=$(jq -r .version package.json)" >> $GITHUB_ENV

      - name: Check if Docker image version exists
        id: image-check
        run: |
          if docker manifest inspect ${{ secrets.DOCKER_USERNAME }}/sharr:${{ env.VERSION }} > /dev/null 2>&1; then
            echo "Image version ${{ env.VERSION }} already exists."
            exit 1
          else
            echo "Image version ${{ env.VERSION }} does not exist."
          fi

      - name: Build and push Docker image
        if: steps.image-check.outcome != 'failure'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64, linux/arm64
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/sharr:${{ env.VERSION }}
            ${{ secrets.DOCKER_USERNAME }}/sharr:latest
