name: Test

on:
    workflow_call:
    pull_request:
        types:
            - opened
            - edited
            - synchronize
            - reopened
    push:
        branches:
            - main

jobs:
    lint:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        strategy:
            matrix:
                bun-version: [latest]
        steps:
            - name: Checkout source code
              uses: actions/checkout@v6

            - uses: ./.github/actions/build

            - name: Typecheck
              run: bun run typecheck

            - name: Lint
              run: bun run lint
    tests:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        strategy:
            matrix:
                bun-version: [latest]
        env:
            PLEX_OWNER_TOKEN: ${{ secrets.PLEX_OWNER_TOKEN }}
        steps:
            - name: Checkout source code
              uses: actions/checkout@v6

            - uses: ./.github/actions/build

            - name: Test
              run: bun test


